.theme
	&_color
		&_project-brand
			--color_default #07f
			--color_accent #fff
			--color_border #fff
			--text_color_primary #fff
			--text_color_secondary rgba(255, 255, 255, .6)
			--text_color_additional rgba(255, 255, 255, .3)
			--text_color_link #fff
			--image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA2NCI+ICA8cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0zMiAxNmgxNlY4aDh2OGg4djhoOHY4aDh2MTZoLTh2LThoLTh2OGgtOHY4aC04di04SDMydjhoLTh2LThoLTh2LThIOHY4SDBWMzJoOHYtOGg4di04aDhWOGg4djh6bS04IDE2aDh2LThoLTh2OHpNMTYgMGg4djhoLThWMHptMCA1Nmg4djhoLTh2LTh6bTQwLTI0di04aC04djhoOHptOC0zMnY4aC04VjBoOHptMCA1NnY4aC04di04aDh6Ii8+PC9zdmc+')

		&_project-default
			--color_default #fff
			--color_accent #fc0
			--color_border #000
			--text_color_primary #000
			--text_color_secondary rgba(0, 0, 0, .6)
			--text_color_additional rgba(0, 0, 0, .3)
			--text_color_link #07f
			--image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA2NCI+ICA8cGF0aCBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0zMiAxNmgxNlY4aDh2OGg4djhoOHY4aDh2MTZoLTh2LThoLTh2OGgtOHY4aC04di04SDMydjhoLTh2LThoLTh2LThIOHY4SDBWMzJoOHYtOGg4di04aDhWOGg4djh6bS04IDE2aDh2LThoLTh2OHpNMTYgMGg4djhoLThWMHptMCA1Nmg4djhoLTh2LTh6bTQwLTI0di04aC04djhoOHptOC0zMnY4aC04VjBoOHptMCA1NnY4aC04di04aDh6Ii8+PC9zdmc+')

		&_project-inverse
			--color_default #000
			--color_accent #fff
			--color_border #fff
			--text_color_primary #fff
			--text_color_secondary rgba(255, 255, 255, .6)
			--text_color_additional rgba(255, 255, 255, .3)
			--text_color_link #0077ff
			--image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MCA2NCI+ICA8cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0zMiAxNmgxNlY4aDh2OGg4djhoOHY4aDh2MTZoLTh2LThoLTh2OGgtOHY4aC04di04SDMydjhoLTh2LThoLTh2LThIOHY4SDBWMzJoOHYtOGg4di04aDhWOGg4djh6bS04IDE2aDh2LThoLTh2OHpNMTYgMGg4djhoLThWMHptMCA1Nmg4djhoLTh2LTh6bTQwLTI0di04aC04djhoOHptOC0zMnY4aC04VjBoOHptMCA1NnY4aC04di04aDh6Ii8+PC9zdmc+')

		&_project-warning
			--color_default #f33
			--color_accent #fff
			--color_border #f33
			--text_color_primary #fff
			--text_color_secondary rgba(255, 255, 255, .6)
			--text_color_additional rgba(255, 255, 255, .3)
			--text_color_link #fff

	&_gap
		&_small
			--gap var(--space_s)

			@media (min-width 1024px)
				--gap var(--space_xl)

	&_size
		&_default
			--text_height_s 8px
			--text_height_m 10px
			--text_height_l 11px
			--text_height_xl 13px
			--text_height_xxl 16px
			--text_line_height_s 21px
			--text_line_height_m 25px
			--text_line_height_l 28px
			--text_line_height_xl 34px
			--text_line_height_xxl 38px

	&_space
		&_default
			--space_xxxs 3px
			--space_xxs 6px
			--space_xs 9px
			--space_s 15px
			--space_m 18px
			--space_l 24px
			--space_xl 27px
			--space_xxl 36px
			--space_xxxl 45px
			--space_xxxxl 51px
			--space_xxxxxl 72px
