.card__footer
	position absolute
	bottom 0
	left 0
	right 0
	box-sizing border-box

	&_distribute
		&_center
			justify-content center

		&_between
			justify-content space-between

		&_right
			justify-content flex-end

	&_vertical-align
		&_center
			align-items center

		&_top
			align-items flex-start

		&_bottom
			align-items flex-end

	&_space-a
		&_m
			padding var(--space_m)

		&_l
			padding var(--space_l)

		&_xl
			padding var(--space_xl)

		&_xxl
			padding var(--space_xxl)
