.grid__fraction
	box-sizing border-box

	&_m-col
		&_2
			grid-column span 1

			@media (min-width 1024px)
				grid-column span 2

		&_3
			grid-column span 1

			@media (min-width 1024px)
				grid-column span 3

		&_4
			grid-column span 1

			@media (min-width 1024px)
				grid-column span 4

		&_5
			grid-column span 1

			@media (min-width 1024px)
				grid-column span 5

		&_8
			grid-column span 1

			@media (min-width 1024px)
				grid-column span 8
