.section
	box-sizing border-box

	&_indent-b
		&_xxl
			margin-bottom var(--space_xxl)

		&_xxxxl
			margin-bottom var(--space_xxxxl)

	&_space-v
		&_xxl
			padding-bottom var(--space_xxl)
			padding-top var(--space_xxl)

		&_xxxxl
			padding-bottom var(--space_xxxxl)
			padding-top var(--space_xxxxl)
