.button
	background-color var(--color_accent)
	width 200px
	border none
	box-sizing border-box

	&_size
		&_s
			height 24px
		&_m
			height 32px
		&_l
			height 42px
		&_xl
			height 56px
		&_xxl
			height 64px

	&_width
		&_full
			width 100%
