.warning__content
	flex-direction column
	align-items center
	padding-left var(--space_m)
	padding-right var(--space_m)

	@media (min-width 1024px)
		padding-left var(--space_xxxl)
		padding-right var(--space_xxxl)
