.warning__content
	display flex
	flex-direction column
	align-items center
	justify-content space-between
	padding-left var(--space_m)
	padding-right var(--space_m)
	padding-top 57px
	height 232px

	@media (min-width 1024px)
		flex-direction row
		justify-content center
		padding-left var(--space_xxxl)
		padding-right var(--space_xxxl)
		padding-top 48px
		height 290px
		padding-bottom 34px
