.card__content
	display flex
	flex-direction column
	box-sizing border-box

	&_distribute
		&_center
			justify-content center

	&_vertical-align
		&_center
			align-items center

	&_space-a
		&_m
			padding var(--space_m)
		&_l
			padding var(--space_l)
		&_xl
			padding var(--space_xl)
		&_xxl
			padding var(--space_xxl)
		&_xxxl
			padding var(--space_xxxl)
