.text__word
	box-sizing border-box
	display inline-block
	height var(--text-height)
	background-color var(--text_color)

	&_width
		&_s
			width var(--word-width-s)

		&_m
			width var(--word-width-m)

		&_l
			width var(--word-width-l)
