.informer__content
	display flex
	flex-wrap wrap
	box-sizing border-box

	&_distribute
		&_default
			justify-content flex-start

		&_center
			justify-content center

		&_between
			justify-content space-between

	&_space-a
		&_xl
			padding var(--space_xl)

		&_xxl
			padding var(--space_xxxxl)
