.list__item
	box-sizing border-box
	display flex

	&:last-child
		border-bottom none

	&_border
		&_bottom
			border-bottom 3px solid var(--color_border)

		&_top
			border-top 3px solid var(--color_border)

	&_distribute
		&_between
			justify-content space-between

	&_vertical-align
		&_center
			align-items center

	&_indent-t
		&_m
			margin-top var(--space_m)

	&_indent-b
		&_s
			margin-bottom var(--space_s)

		&_m
			margin-bottom var(--space_m)

		&_l
			margin-bottom var(--space_l)

		&_xl
			margin-bottom var(--space_xl)

	&_space-b
		&_s
			padding-bottom var(--space_s)

	&_space-a
		&_m
			padding var(--space_m)
