.layout__container
	box-sizing border-box

	&_align
		&_center
			margin 0 auto

	&_size
		&_m
			max-width 1280px

		&_s
			max-width 920px

	&_indent-b
		&_xxl
			margin-bottom var(--space_xxl)

		&_xxxxl
			margin-bottom var(--space_xxxxl)

	&_space-v
		&_xxxxl
			padding-top var(--space_xxxxl)
			padding-bottom var(--space_xxxxl)

		&_xxxxxl
			padding-top var(--space_xxxxxl)
			padding-bottom var(--space_xxxxxl)
